# WeRateDogs Twitter Data Wrangling  Project

## Gather

In [5]:
# Importing Required Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import requests 
import os
import json
from bs4 import BeautifulSoup
%matplotlib inline

In [6]:
pd.options.mode.chained_assignment = None

In [7]:
# Creating folder for our dataset on local system if it doesn't exist

folder_name = 'datasets'

if not os.path.exists(folder_name):
  os.makedirs(folder_name)

In [8]:
# Downloading dataset files from url into our local machine

url_image = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
url_archive = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/59a4e958_twitter-archive-enhanced/twitter-archive-enhanced.csv'

r_image = requests.get(url_image)
r_archive = requests.get(url_archive)

with open ('datasets/image_predictions.tsv', 'wb') as file:
  file.write(r_image.content)

with open ('datasets/twitter-archive-enhanced.csv', 'wb') as file:
  file.write(r_archive.content)

In [9]:
# Opening the tweet-json text dataset file and reading it line by line 

with open('datasets/tweet-json.txt') as file:
  tweets = []

  for line in file:
    tw = json.loads(line)
    # Appending a dictionary of selected features into the 'tweets' list 
    tweets.append({
        'tweet_id': tw['id'],
        'retweet_count':tw['retweet_count'],
        'favorite_count':tw['favorite_count']
    })

In [10]:
# Reading the csv,tsv and json files into pandas dataframes

df_image = pd.read_csv('datasets/image_predictions.tsv', sep='\t')
df_archive = pd.read_csv('datasets/twitter-archive-enhanced.csv')
df_tweets= pd.DataFrame(tweets)

## Assessment

In [11]:
# Visual assessment of twitter archive dataframe

df_archive.sample(10)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1520,690728923253055490,NaN,NaN,2016-01-23 02:53:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Vinscent. He was just questioned about...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/690728923...,8,10,Vinscent,None,None,None,None
1416,698635131305795584,NaN,NaN,2016-02-13 22:29:29 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we are witnessing five Guatemalan Birch F...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/698635131...,12,10,None,None,None,None,None
1031,745422732645535745,NaN,NaN,2016-06-22 01:06:43 +0000,"<a href=""http://twitter.com/download/iphone"" r...",We only rate dogs. Pls stop sending in non-can...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/745422732...,9,10,very,None,None,None,None
1087,738156290900254721,NaN,NaN,2016-06-01 23:52:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Storkson. He's wet and sad. 10/10 chee...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/738156290...,10,10,Storkson,None,None,None,None
1928,674045139690631169,NaN,NaN,2015-12-08 01:57:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Herd of wild dogs here. Not sure what they're ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/674045139...,3,10,None,None,None,None,None
602,798644042770751489,NaN,NaN,2016-11-15 21:49:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Paull. He just stubbed ...,6.704450e+17,4.196984e+09,2015-11-28 03:31:48 +0000,https://twitter.com/dog_rates/status/670444955...,10,10,Paull,None,None,None,None
2292,667160273090932737,NaN,NaN,2015-11-19 01:59:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bradlay. He is a Ronaldinho Matsuyama ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667160273...,11,10,Bradlay,None,None,None,None
52,882045870035918850,NaN,NaN,2017-07-04 01:18:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...","This is Koko. Her owner, inspired by Barney, r...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/882045870...,13,10,Koko,None,None,None,None
1125,730196704625098752,NaN,NaN,2016-05-11 00:43:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Charles. He's camera shy. Tail longer ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/730196704...,6,10,Charles,None,None,None,None
820,770414278348247044,NaN,NaN,2016-08-30 00:14:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Al Cabone. He's a gangsta puppa. Rather h...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/770414278...,11,10,Al,None,None,None,None

In [12]:
# Visual assessment of image prediction dataframe

df_image.sample(10)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
106,667866724293877760,https://pbs.twimg.com/media/CUS9PlUWwAANeAD.jpg,1,jigsaw_puzzle,1.000000,False,prayer_rug,1.011300e-08,False,doormat,1.740170e-10,False
1363,761334018830917632,https://pbs.twimg.com/media/CpDNQGkWEAENiYZ.jpg,1,Norwegian_elkhound,0.822936,True,malinois,8.615250e-02,True,German_shepherd,6.333290e-02,True
1239,746872823977771008,https://pbs.twimg.com/media/Cl1s1p7WMAA44Vk.jpg,1,Pembroke,0.540201,True,beagle,2.078350e-01,True,Italian_greyhound,4.356490e-02,True
1094,719991154352222208,https://pbs.twimg.com/media/Cf3sH62VAAA-LiP.jpg,2,golden_retriever,0.605304,True,cocker_spaniel,1.309480e-01,True,Labrador_retriever,9.469160e-02,True
391,673576835670777856,https://pbs.twimg.com/media/CVkGjsxU8AA5OYX.jpg,1,teddy,0.255210,False,Christmas_stocking,9.828520e-02,False,pajama,7.273510e-02,False
1454,777189768882946048,https://pbs.twimg.com/media/Cskh9nRWYAAUxBP.jpg,2,Chihuahua,0.988412,True,Mexican_hairless,4.177220e-03,True,hog,1.506580e-03,False
1092,719551379208073216,https://pbs.twimg.com/media/CfxcKU6W8AE-wEx.jpg,1,malamute,0.873233,True,Siberian_husky,7.643540e-02,True,Eskimo_dog,3.574500e-02,True
1093,719704490224398336,https://pbs.twimg.com/media/CfznaXuUsAAH-py.jpg,1,home_theater,0.059033,False,window_shade,3.829900e-02,False,bathtub,3.552820e-02,False
1720,819347104292290561,https://pbs.twimg.com/media/C17n1nrWQAIErU3.jpg,3,Rottweiler,0.909106,True,black-and-tan_coonhound,4.411980e-02,True,Doberman,3.183490e-02,True
940,703774238772166656,https://pbs.twimg.com/media/CcRO8FmW4AAzazk.jpg,1,Labrador_retriever,0.990119,True,Chesapeake_Bay_retriever,8.025580e-03,True,curly-coated_retriever,1.242290e-03,True

In [13]:
# Visual assessment of tweet-json dataframe

df_tweets.sample(10)

                tweet_id  retweet_count  favorite_count
1387  700167517596164096            836            2903
1297  707738799544082433           2785            4495
428   821107785811234820           2487           10645
2353  666020888022790149            532            2535
685   788070120937619456           3952               0
1530  690005060500217858           1907            4004
1554  688828561667567616            420            1508
1398  699446877801091073           2938            6515
87    875097192612077568           6342           27997
339   832215909146226688           7069               0

#### **Programatic assessment of the datasets**

In [14]:
# Assessing the twitter archive dataset

print(df_archive.shape)

df_archive.info()

(2356, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [15]:
# checking for duplicates within the dataset

df_archive['tweet_id'].duplicated().sum()

0

In [16]:
# Assessing the twitter archive dataset

print(df_image.shape)

df_image.info()

(2075, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [17]:
#checking for duplicated images in the image prediction dataset

nums_of_duplicates = df_image['jpg_url'].duplicated().sum()

print(f"There are ({nums_of_duplicates}) Duplicated images in Image Prediction Dataset")

There are (66) Duplicated images in Image Prediction Dataset

In [18]:
# Assessing the tweet counts & fovourite dataset

print(df_tweets.shape)

df_tweets.info()

(2354, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2354 non-null   int64
 1   retweet_count   2354 non-null   int64
 2   favorite_count  2354 non-null   int64
dtypes: int64(3)
memory usage: 55.3 KB

**Quality issues** identified and to be worked on in this cleaning process are:

<ol>
  <li>We want only original tweets. No retweets and replies.</li>
  <li>Change timestamp from string datatype to datetime datatype.</li> 
  <li>Have all the Dog stages into one column.</li>
  <li>Strip the source table of its html tags so that only the text is left.</li>
  <li>Removing Duplicates image rows from the image prediction Dataframe.</li>
  <li>Removing image predictions that are not dogs from the the image prediction dataframe.</li>
  <li>Creating a column with the most appropriete dog image recognition.</li>
  <li>Dropping all the unecesary columns from the image recognition dataframe.</li>
</ol>
  
**Tidyness issues** identified and to be worked on in this cleaning process are:
<ol>
  <li>Remove shortened url from text column as it is redundant.</li>
  <li>Merging the three dataframes into on dataframe for analysis.</li> 
</ol>

## Clean

#### Define

First is to make copies of all the dataframes undergoing the cleaning process

#### Code

In [19]:
# twitter archive dataset copy
archive_clean = df_archive.copy() 

# Dog image prediction dataset copy
image_clean = df_image.copy() 

# Tweet favourite & Count dataset copy
counts_clean = df_tweets.copy()

#### Test

In [20]:
# Checking the dataframes to confirm copies were made correctly

print(archive_clean.info())

archive_clean.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB
None

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None

In [21]:
print(image_clean.info())

image_clean.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB
None

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True

In [22]:
print(counts_clean.info())

counts_clean.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2354 non-null   int64
 1   retweet_count   2354 non-null   int64
 2   favorite_count  2354 non-null   int64
dtypes: int64(3)
memory usage: 55.3 KB
None

             tweet_id  retweet_count  favorite_count
0  892420643555336193           8853           39467
1  892177421306343426           6514           33819
2  891815181378084864           4328           25461

## Clean

Define

*   Get only original tweets(No retweets and replies) from the archive_clean dataframe
*   Save only the original tweets in the archive_clean dataframe 
*   Drop columns associated with retweets and replies from the archive_clean dataframe

##### Code

In [23]:
#creating masks of no retweets and no replies

no_retweet = archive_clean['retweeted_status_id'].isna()
no_replies = archive_clean['in_reply_to_status_id'].isna()

In [24]:
# saving this the no_retweets & no_replies masks into the archive clean dataset
# this should give us only original tweets left in the dataframe

archive_clean = archive_clean[no_retweet & no_replies]

In [25]:
# Dropping columns associated with retweets and replies
drops = ['in_reply_to_status_id','in_reply_to_user_id','retweeted_status_id','retweeted_status_user_id','retweeted_status_timestamp']

archive_clean.drop(columns = drops, inplace=True)

##### Test

In [26]:
print (archive_clean.info())

archive_clean.head(3)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2097 non-null   int64
 1   timestamp           2097 non-null   object
 2   source              2097 non-null   object
 3   text                2097 non-null   object
 4   expanded_urls       2094 non-null   object
 5   rating_numerator    2097 non-null   int64
 6   rating_denominator  2097 non-null   int64
 7   name                2097 non-null   object
 8   doggo               2097 non-null   object
 9   floofer             2097 non-null   object
 10  pupper              2097 non-null   object
 11  puppo               2097 non-null   object
dtypes: int64(3), object(9)
memory usage: 213.0+ KB
None

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None

### Clean

#### Define 

Change timestamp in archive_clean dataframe from string datatype to datetime datatype

#### Code

In [27]:
archive_clean['timestamp'] = pd.to_datetime(archive_clean['timestamp'])

#### Test

In [28]:
archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2097 non-null   int64
 1   timestamp           2097 non-null   datetime64[ns, UTC]
 2   source              2097 non-null   object
 3   text                2097 non-null   object
 4   expanded_urls       2094 non-null   object
 5   rating_numerator    2097 non-null   int64
 6   rating_denominator  2097 non-null   int64
 7   name                2097 non-null   object
 8   doggo               2097 non-null   object
 9   floofer             2097 non-null   object
 10  pupper              2097 non-null   object
 11  puppo               2097 non-null   object
dtypes: datetime64[ns, UTC](1), int64(3), object(8)
memory usage: 213.0+ KB

### Clean

#### Define

Put all dog stages into one column
* Step 1: Replace all None in dog stage columns with empty strings
* Step 2: Create a new Dog stages column and sets it's values as the concatination of all the dog stage columns('doggo', 'floofer', 'pupper', 'puppo') in the archive_clean dataframe
* Step 3: Make dog stage column values with more than one stage e.g 'doggopupper' as empty string as they would be treated as errors
* Step 4: Replace all empty strings dog stage column with Nan
* Step 5: Drop ('doggo', 'floofer', 'pupper', 'puppo') Columns

#### Code

In [29]:
# Step 1: Replacing all None in dog stages with empty strings

archive_clean[['doggo', 'floofer', 'pupper', 'puppo']] = (
                                                            archive_clean[['doggo', 'floofer', 'pupper', 'puppo']]
                                                            .replace('None','')
                                                          )

##### Test

In [30]:
archive_clean[['doggo', 'floofer', 'pupper', 'puppo']].value_counts()

doggo  floofer  pupper  puppo
                                 1761
                pupper            221
doggo                              72
                        puppo      23
       floofer                      9
doggo           pupper              9
                        puppo       1
       floofer                      1
dtype: int64

#### Code

In [31]:
# Step 2: Creating a new Dog stages column and setting it's values to the concatination of all the dog stage columns

archive_clean['dog_stage'] = (
                               archive_clean['doggo'] 
                               + archive_clean['floofer'] 
                               + archive_clean['pupper'] 
                               + archive_clean['puppo']
                              )

#### Test

In [32]:
archive_clean['dog_stage'].value_counts()

                1761
pupper           221
doggo             72
puppo             23
floofer            9
doggopupper        9
doggopuppo         1
doggofloofer       1
Name: dog_stage, dtype: int64

#### Code

In [33]:
# Step 3: Making dog stage with more than one stage e.g 'doggopupper' empty strings because they are considered errors

recognised_stages = ['doggo', 'floofer', 'pupper', 'puppo']

archive_clean['dog_stage'] = archive_clean.apply(
    lambda row: 
    '' if (row['dog_stage'] not in recognised_stages) 
    else row['dog_stage'],
    axis=1
)

#### Test

In [34]:
archive_clean['dog_stage'].value_counts()

           1772
pupper      221
doggo        72
puppo        23
floofer       9
Name: dog_stage, dtype: int64

##### Code

In [35]:
# Step 4: Replacing all empty strings in dog stage column with Nan
archive_clean['dog_stage'] = archive_clean['dog_stage'].replace('', np.nan)

#### Test

In [36]:
archive_clean['dog_stage'].value_counts()

pupper     221
doggo       72
puppo       23
floofer      9
Name: dog_stage, dtype: int64

#### Code

In [37]:
# Step 5: Drop ['doggo', 'floofer', 'pupper', 'puppo'] columns
columns_to_drop = ['doggo', 'floofer', 'pupper', 'puppo']

archive_clean.drop(columns=columns_to_drop, inplace=True)

#### Test

In [38]:
archive_clean.sample(10)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_stage
176,857746408056729600,2017-04-28 00:00:54+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Meet Thor. He doesn't have finals because he's...,https://twitter.com/dog_rates/status/857746408...,13,10,Thor,NaN
1556,688828561667567616,2016-01-17 21:01:41+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Brad. His car probably has a spoi...,https://twitter.com/dog_rates/status/688828561...,9,10,Brad,NaN
1387,700505138482569216,2016-02-19 02:20:14+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Kaia. She's just cute as hell. 12/10 I...,https://twitter.com/dog_rates/status/700505138...,12,10,Kaia,NaN
1472,693942351086120961,2016-01-31 23:42:03+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Kobe. He's a Speckled Rorschach. Reque...,https://twitter.com/dog_rates/status/693942351...,10,10,Kobe,NaN
162,860524505164394496,2017-05-05 16:00:04+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Carl. He likes to dance. Doesn't care ...,https://twitter.com/dog_rates/status/860524505...,13,10,Carl,NaN
2151,669682095984410625,2015-11-26 01:00:28+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Meet Louie. He just pounded that bottle of win...,https://twitter.com/dog_rates/status/669682095...,9,10,Louie,NaN
1357,703407252292673536,2016-02-27 02:32:12+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This pupper doesn't understand gates. 10/10 so...,https://twitter.com/dog_rates/status/703407252...,10,10,None,pupper
1257,710296729921429505,2016-03-17 02:48:31+00:00,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",This is Oshie. 12/10 please enjoy (vid by @cat...,https://vine.co/v/iw9hUFAMerV,12,10,Oshie,NaN
2001,672482722825261057,2015-12-03 18:29:09+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is light saber pup. Ready to fight off ev...,https://twitter.com/dog_rates/status/672482722...,10,10,light,NaN
482,815390420867969024,2017-01-01 02:53:20+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Happy New Year from the squad! 13/10 for all h...,https://twitter.com/dog_rates/status/815390420...,13,10,None,NaN

### Clean

#### Define

* Strip the source column in archive_clean dataframe of its html tags so that only the text is left.

#### Code

In [39]:
archive_clean['source'] = archive_clean['source'].str.replace(r'<[^<>]*>', '', regex=True)

#### Test

In [40]:
archive_clean['source'].value_counts()

Twitter for iPhone     1964
Vine - Make a Scene      91
Twitter Web Client       31
TweetDeck                11
Name: source, dtype: int64

### Clean

#### Define

* Remove Duplicate image rows from the image prediction Dataframe.

#### Code

In [41]:
image_clean.drop_duplicates(subset= ['jpg_url'], inplace=True)

#### Test

In [42]:
image_clean['jpg_url'].duplicated().sum()

0

### Clean

#### Define
Remove image predictions that are not dogs from the the image prediction dataframe

Steps to take:

* Convert the image prediction columns(p1,p2,p3) to lower case and underscore seperated string for uniformity and better conform to pythonic string values.
* Scrape a robust list of all extant dog breeds from wikipedia using beautiful soup and it save as a dataframe.
* Clean up wiki dog breeds datatframe values to conform with image prediction columns(p1,p2,p3) values.
* Check if prediction columns p1 or p2 or p3 are dog breeds that corresponds with the wiki dog breeds dataframe values and save the best prediction into  a new column.
* Drop all image predictions that are not dogs

#### Code

In [43]:
# Converting p1,p2,p2 columns to lower and underscore seperated strings

image_clean[['p1','p2','p3']] = image_clean[['p1','p2','p3']].applymap(lambda s: s.lower())

#### Test

In [44]:
image_clean.sample(2)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1300,752660715232722944,https://pbs.twimg.com/media/CnH87L6XYAAF7I_.jpg,2,goose,0.339324,False,english_setter,0.050512,True,basset,0.049093,True
1965,867421006826221569,https://pbs.twimg.com/media/DAmyy8FXYAIH8Ty.jpg,1,eskimo_dog,0.616457,True,siberian_husky,0.381330,True,malamute,0.001670,True

#### Define

* Scrape a robust list of all extant dog breeds from wikipedia using beautiful soup and it save as a dataframe.

#### Code

In [45]:
# Getting a list of dog breeds from wikipedia
dog_breed_url = 'https://en.wikipedia.org/wiki/List_of_dog_breeds'
response = requests.get(dog_breed_url)

In [46]:
# Setting response request to variable
page_contents = response.text

In [47]:
# Saving the response text as a file on local system
with open('datasets/wiki_List_of_dog_breeds.html','w') as file: 
    file.write(page_contents)

In [48]:
# Using beautiful soup to parse the wiki web page
soup = BeautifulSoup(page_contents, 'html.parser')

In [49]:
# Getting only the extant dog breed list from the html file.
dog_breed_list = []
div_breeds = soup.find_all("div", {"class": "div-col"})[0:4]

for breed in div_breeds:
  for b_temp in breed.find_all('li'):
    dog_breed_list.append(b_temp.text)

dog_breed_list[:5]

['Affenpinscher[7]',
 'Afghan Hound[8]',
 'Africanis[9]',
 'Aidi[10]',
 'Airedale Terrier[11]']

In [50]:
# Saving the list into a dataframe

breeds = {'breeds': dog_breed_list }
df_breeds = pd.DataFrame(data=breeds)

#### Test

In [51]:
df_breeds.head()

                 breeds
0      Affenpinscher[7]
1       Afghan Hound[8]
2          Africanis[9]
3              Aidi[10]
4  Airedale Terrier[11]

#### Define
* Clean up wiki dog breeds datatframe values to conform with image prediction columns(p1,p2,p3) values.

In [52]:
# clean up breeds column

df_breeds['breeds'] = (
                        df_breeds['breeds']
                        .str.replace(r"\[\d*?\]", "", regex=True)
                        .str.replace(' ', '_')
                        .str.lower()
                      )

#### Test

In [53]:
df_breeds.head()

             breeds
0     affenpinscher
1      afghan_hound
2         africanis
3              aidi
4  airedale_terrier

#### Define


*   Check if prediction columns p1 or p2 or p3 are dog breeds that corresponds with the wiki dog breeds dataframe values and save the best prediction into a new column.

In [54]:
# Creating a function to check if the row contains a known dog breed 
# returning the best prediction
# if row doesn't contain a dog breed, funtion returns the string "None"

def check_breeds(df):
  if (df['p1'] in df_breeds['breeds'].values.tolist()) | (df['p1_dog'] == True):
    return df.p1
  elif (df['p2'] in df_breeds['breeds'].values.tolist()) | (df['p2_dog'] == True):
    return df.p2
  elif (df['p3'] in df_breeds['breeds'].values.tolist()) | (df['p3_dog'] == True):
    return df.p3
  else:
    return "None"

In [55]:
#Apply the function and save the best prediction to a new column " dog_breed_p"

image_clean['dog_breed_p'] = image_clean.apply(check_breeds, axis=1)

#### Test

In [56]:
image_clean.sample(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,dog_breed_p
984,707420581654872064,https://pbs.twimg.com/media/CdFDQVgWIAArslx.jpg,1,ram,0.518215,False,kuvasz,0.149391,True,great_pyrenees,0.106003,True,kuvasz
1163,735137028879360001,https://pbs.twimg.com/media/CjO7OfeWgAAUQy-.jpg,1,walker_hound,0.413535,True,beagle,0.233891,True,english_foxhound,0.164943,True,walker_hound
1228,745422732645535745,https://pbs.twimg.com/media/ClhGBCAWIAAFCsz.jpg,1,labrador_retriever,0.663800,True,golden_retriever,0.308261,True,ice_bear,0.004269,False,labrador_retriever
1977,870374049280663552,https://pbs.twimg.com/media/DBQwlFCXkAACSkI.jpg,1,golden_retriever,0.841001,True,great_pyrenees,0.099278,True,labrador_retriever,0.032621,True,golden_retriever
1281,750147208377409536,https://pbs.twimg.com/media/CmkO57iXgAEOxX9.jpg,1,pug,0.977765,True,boston_bull,0.004794,True,french_bulldog,0.004573,True,pug

In [57]:
# Confirming that the "None" values are not dog breeds

image_clean[image_clean['dog_breed_p'] == "None"]

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,dog_breed_p
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,0.045885,False,terrapin,0.017885,False,None
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,0.033919,False,partridge,0.000052,False,None
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,desktop_computer,0.086502,False,desk,0.085547,False,bookcase,0.079480,False,None
21,666293911632134144,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,1,three-toed_sloth,0.914671,False,otter,0.015250,False,great_grey_owl,0.013207,False,None
25,666362758909284353,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,1,guinea_pig,0.996496,False,skunk,0.002402,False,hamster,0.000461,False,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021,880935762899988482,https://pbs.twimg.com/media/DDm2Z5aXUAEDS2u.jpg,1,street_sign,0.251801,False,umbrella,0.115123,False,traffic_light,0.069534,False,None
2022,881268444196462592,https://pbs.twimg.com/media/DDrk-f9WAAI-WQv.jpg,1,tusker,0.473303,False,indian_elephant,0.245646,False,ibex,0.055661,False,None
2046,886680336477933568,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,1,convertible,0.738995,False,sports_car,0.139952,False,car_wheel,0.044173,False,None
2052,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/88751...,1,limousine,0.130432,False,tow_truck,0.029175,False,shopping_cart,0.026321,False,None
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False,None

#### Define

* Droping all image predictions that are not dogs

#### Code

In [58]:
# "None" values in dog_breed_p constitute rows that are not dogs 
image_clean.drop(image_clean[image_clean['dog_breed_p'] == "None"].index, inplace = True)

#### Test

In [59]:
image_clean.shape

(1691, 13)

### Define
* Drop columns p1,p2,p3 and their associated confidence columns from image prediction dataframe as they have become redundant.

##### Code

In [60]:
image_clean.drop(columns = ['p1','p1_conf','p1_dog','p2','p2_conf','p2_dog','p3','p3_conf','p3_dog'], inplace=True)

#### Test

In [61]:
image_clean.sample(2)

,tweet_id,jpg_url,img_num,dog_breed_p
1997,875021211251597312,https://pbs.twimg.com/media/DCSzF3NVoAAPzT4.jpg,2,west_highland_white_terrier
2023,881536004380872706,https://pbs.twimg.com/ext_tw_video_thumb/88153...,1,samoyed

## Tidyness Issues

### Define
* Remove shortened url from text column as it is redundant.

#### Code

In [62]:
#Removing url link from the text column values

archive_clean['text'] = archive_clean['text'].str.replace('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', '', regex=True)

#### Test

In [63]:
archive_clean.head(2)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_stage
0,892420643555336193,2017-08-01 16:23:56+00:00,Twitter for iPhone,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,NaN
1,892177421306343426,2017-08-01 00:17:27+00:00,Twitter for iPhone,This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,NaN

### Define 
* Merge archive_clean dataframe with the image prediction dataframe

#### Code

In [64]:
# creating a new dataframe from merged archive_clean dataframe and image prediction dataframe

df = archive_clean.merge(image_clean[['dog_breed_p','jpg_url', 'tweet_id']])

#### Test

In [65]:
print(df.info())

df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1666 entries, 0 to 1665
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            1666 non-null   int64
 1   timestamp           1666 non-null   datetime64[ns, UTC]
 2   source              1666 non-null   object
 3   text                1666 non-null   object
 4   expanded_urls       1666 non-null   object
 5   rating_numerator    1666 non-null   int64
 6   rating_denominator  1666 non-null   int64
 7   name                1666 non-null   object
 8   dog_stage           248 non-null    object
 9   dog_breed_p         1666 non-null   object
 10  jpg_url             1666 non-null   object
dtypes: datetime64[ns, UTC](1), int64(3), object(7)
memory usage: 156.2+ KB
None

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_stage,dog_breed_p,jpg_url
0,892177421306343426,2017-08-01 00:17:27+00:00,Twitter for iPhone,This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,NaN,chihuahua,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg
1,891815181378084864,2017-07-31 00:18:03+00:00,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,NaN,chihuahua,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg
2,891689557279858688,2017-07-30 15:58:51+00:00,Twitter for iPhone,This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,NaN,labrador_retriever,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg
3,891327558926688256,2017-07-29 16:00:24+00:00,Twitter for iPhone,This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,NaN,basset,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg
4,891087950875897856,2017-07-29 00:08:17+00:00,Twitter for iPhone,Here we have a majestic great white breaching ...,https://twitter.com/dog_rates/status/891087950...,13,10,None,NaN,chesapeake_bay_retriever,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg

#### Define 
* Merge df dataframe with tweets count & favourite dataset

##### Code

In [66]:
df = df.merge(df_tweets[['retweet_count','favorite_count', 'tweet_id']])

##### Test

In [67]:
print(df.info())


df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1666 entries, 0 to 1665
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            1666 non-null   int64
 1   timestamp           1666 non-null   datetime64[ns, UTC]
 2   source              1666 non-null   object
 3   text                1666 non-null   object
 4   expanded_urls       1666 non-null   object
 5   rating_numerator    1666 non-null   int64
 6   rating_denominator  1666 non-null   int64
 7   name                1666 non-null   object
 8   dog_stage           248 non-null    object
 9   dog_breed_p         1666 non-null   object
 10  jpg_url             1666 non-null   object
 11  retweet_count       1666 non-null   int64
 12  favorite_count      1666 non-null   int64
dtypes: datetime64[ns, UTC](1), int64(5), object(7)
memory usage: 182.2+ KB
None

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_stage,dog_breed_p,jpg_url,retweet_count,favorite_count
0,892177421306343426,2017-08-01 00:17:27+00:00,Twitter for iPhone,This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,NaN,chihuahua,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,6514,33819
1,891815181378084864,2017-07-31 00:18:03+00:00,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,NaN,chihuahua,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,4328,25461
2,891689557279858688,2017-07-30 15:58:51+00:00,Twitter for iPhone,This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,NaN,labrador_retriever,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,8964,42908
3,891327558926688256,2017-07-29 16:00:24+00:00,Twitter for iPhone,This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,NaN,basset,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,9774,41048
4,891087950875897856,2017-07-29 00:08:17+00:00,Twitter for iPhone,Here we have a majestic great white breaching ...,https://twitter.com/dog_rates/status/891087950...,13,10,None,NaN,chesapeake_bay_retriever,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,3261,20562

### Clean

#### Define

* clean-up on df dataframe: Remove jpg_url column from dataframe

#### Code

In [68]:
df.drop(columns=['jpg_url'], inplace=True)

#### Test

In [69]:
df.sample(5)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_stage,dog_breed_p,retweet_count,favorite_count
385,799422933579902976,2016-11-18 01:24:14+00:00,Twitter for iPhone,This is Longfellow (prolly sophisticated). He'...,https://twitter.com/dog_rates/status/799422933...,12,10,Longfellow,NaN,miniature_pinscher,2213,8965
36,883482846933004288,2017-07-08 00:28:19+00:00,Twitter for iPhone,This is Bella. She hopes her smile made you sm...,https://twitter.com/dog_rates/status/883482846...,5,10,Bella,NaN,golden_retriever,10407,46860
968,699434518667751424,2016-02-16 03:25:58+00:00,Twitter for iPhone,I know this is a tad late but here's a wonderf...,https://twitter.com/dog_rates/status/699434518...,12,10,None,pupper,golden_retriever,577,2384
1242,677700003327029250,2015-12-18 04:00:46+00:00,Twitter for iPhone,This is Ralph. He's an interpretive dancer. 10...,https://twitter.com/dog_rates/status/677700003...,10,10,Ralph,NaN,siberian_husky,1622,3689
1202,679844490799091713,2015-12-24 02:02:12+00:00,Twitter for iPhone,This is Willie. He's floating away and needs y...,https://twitter.com/dog_rates/status/679844490...,10,10,Willie,NaN,airedale,887,2593

### **Getting a statistical overview of the merged dataframe**

In [70]:
df.describe()

,tweet_id,rating_numerator,rating_denominator,retweet_count,favorite_count
count,1.666000e+03,1666.000000,1666.000000,1666.000000,1666.000000
mean,7.395044e+17,11.388355,10.468788,2834.429772,9288.184274
std,6.801710e+16,7.489081,6.343940,4831.960790,12641.538890
min,6.660209e+17,0.000000,2.000000,16.000000,81.000000
25%,6.775503e+17,10.000000,10.000000,650.500000,2176.000000
50%,7.141778e+17,11.000000,10.000000,1440.500000,4464.000000
75%,7.931921e+17,12.000000,10.000000,3261.000000,11734.750000
max,8.921774e+17,165.000000,150.000000,79515.000000,132810.000000

It seems that there are some unusual data in the rating rating_denominator column. The value should be around 10 but we have values as low as 2 and as high as 150

Investigating further to determine if some of this values are errors in the dataset or just outliers

In [71]:
too_low= df['rating_denominator'] < 10

df[too_low]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_stage,dog_breed_p,retweet_count,favorite_count
345,810984652412424192,2016-12-19 23:06:23+00:00,Twitter for iPhone,Meet Sam. She smiles 24/7 &amp; secretly aspir...,"https://www.gofundme.com/sams-smile,https://tw...",24,7,Sam,NaN,golden_retriever,1655,5927
1648,666287406224695296,2015-11-16 16:11:11+00:00,Twitter for iPhone,This is an Albanian 3 1/2 legged Episcopalian...,https://twitter.com/dog_rates/status/666287406...,1,2,an,NaN,maltese_dog,71,152

After investigating the low values, it clear they are false rating values. Since this observation are just 2, it is okay to use the mean rating for observation at index '345' as it has no known associated rating after further investigation while I use the correctly found rating for observation at index '1648'.

### Clean

#### Define

* Fill in rating values at index '345' with mean, rounded to the nearest int
* Fill in rating values at index '1648' with correct values found at tweet text

##### Code

In [72]:
df.loc[345,'rating_numerator'] = df['rating_numerator'].mean().round().astype('int64')
df.loc[345,'rating_denominator'] = df['rating_denominator'].mean().round().astype('int64')

df.loc[1648,'rating_numerator'] = 9
df.loc[1648,'rating_denominator'] = 10

#### Test

In [73]:
df.iloc[[345,1648]]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_stage,dog_breed_p,retweet_count,favorite_count
345,810984652412424192,2016-12-19 23:06:23+00:00,Twitter for iPhone,Meet Sam. She smiles 24/7 &amp; secretly aspir...,"https://www.gofundme.com/sams-smile,https://tw...",11,10,Sam,NaN,golden_retriever,1655,5927
1648,666287406224695296,2015-11-16 16:11:11+00:00,Twitter for iPhone,This is an Albanian 3 1/2 legged Episcopalian...,https://twitter.com/dog_rates/status/666287406...,9,10,an,NaN,maltese_dog,71,152

Also further investigation of rating with denominators higher than 10 is needed to ascertain if they are actual errors in the datasetor are simply part of weratedogs ingenuity

In [74]:
too_high= ((df['rating_denominator'] > 10) & (df['rating_denominator'] <= 150))

df[too_high]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_stage,dog_breed_p,retweet_count,favorite_count
289,820690176645140481,2017-01-15 17:52:40+00:00,Twitter for iPhone,The floofs have been released I repeat the flo...,https://twitter.com/dog_rates/status/820690176...,84,70,None,NaN,west_highland_white_terrier,3716,13518
589,758467244762497024,2016-07-28 01:00:57+00:00,Twitter for iPhone,Why does this never happen at my front door......,https://twitter.com/dog_rates/status/758467244...,165,150,None,NaN,labrador_retriever,2539,5316
705,740373189193256964,2016-06-08 02:41:38+00:00,Twitter for iPhone,"After so many requests, this is Bretagne. She ...",https://twitter.com/dog_rates/status/740373189...,9,11,None,NaN,golden_retriever,9220,20648
786,722974582966214656,2016-04-21 02:25:47+00:00,Twitter for iPhone,Happy 4/20 from the squad! 13/10 for all,https://twitter.com/dog_rates/status/722974582...,4,20,None,NaN,great_dane,1764,4493
816,716439118184652801,2016-04-03 01:36:11+00:00,Twitter for iPhone,This is Bluebert. He just saw that both #Final...,https://twitter.com/dog_rates/status/716439118...,50,50,Bluebert,NaN,siberian_husky,247,2574
835,713900603437621249,2016-03-27 01:29:02+00:00,Twitter for iPhone,Happy Saturday here's 9 puppers on a bench. 99...,https://twitter.com/dog_rates/status/713900603...,99,90,None,NaN,golden_retriever,829,3062
854,710658690886586372,2016-03-18 02:46:49+00:00,Twitter for iPhone,Here's a brigade of puppers. All look very pre...,https://twitter.com/dog_rates/status/710658690...,80,80,None,NaN,soft-coated_wheaten_terrier,636,2529
871,709198395643068416,2016-03-14 02:04:08+00:00,Twitter for iPhone,"From left to right:\nCletus, Jerome, Alejandro...",https://twitter.com/dog_rates/status/709198395...,45,50,None,NaN,borzoi,721,2634
929,704054845121142784,2016-02-28 21:25:30+00:00,Twitter for iPhone,Here is a whole flock of puppers. 60/50 I'll ...,https://twitter.com/dog_rates/status/704054845...,60,50,a,NaN,great_pyrenees,1028,3201
994,697463031882764288,2016-02-10 16:51:59+00:00,Twitter for iPhone,Happy Wednesday here's a bucket of pups. 44/40...,https://twitter.com/dog_rates/status/697463031...,44,40,None,NaN,labrador_retriever,1552,3748
1133,684222868335505415,2016-01-05 04:00:18+00:00,Twitter for iPhone,Someone help the girl is being mugged. Several...,https://twitter.com/dog_rates/status/684222868...,121,110,None,NaN,soft-coated_wheaten_terrier,1563,4225
1156,682962037429899265,2016-01-01 16:30:13+00:00,Twitter for iPhone,This is Darrel. He just robbed a 7/11 and is i...,https://twitter.com/dog_rates/status/682962037...,7,11,Darrel,NaN,chihuahua,15043,26239
1241,677716515794329600,2015-12-18 05:06:23+00:00,Twitter for iPhone,IT'S PUPPERGEDDON. Total of 144/120 ...I think,https://twitter.com/dog_rates/status/677716515...,144,120,None,NaN,chow,1104,3323
1290,675853064436391936,2015-12-13 01:41:41+00:00,Twitter for iPhone,Here we have an entire platoon of puppers. Tot...,https://twitter.com/dog_rates/status/675853064...,88,80,None,NaN,labrador_retriever,1460,2927

After investigating the seeminly high values further, it was clear that majority of the values are not errors but just part of weratedogs ingenuity. 

The only observations that have errors in their ratings are observations at indexes '705', 786 , 816 , 1156.

As done with the extremely low values, since this are just 4 entries, I  can simply input the correct rating values.

### Clean

#### Define
* Fill in rating values at index '705' , '786' , '816' , '1156' with correct values found at tweet text

#### Code

In [75]:
df.loc[705,'rating_numerator'] = 14
df.loc[705,'rating_denominator'] = 10

df.loc[786,'rating_numerator'] = 13
df.loc[786,'rating_denominator'] = 10

df.loc[816,'rating_numerator'] = 11
df.loc[816,'rating_denominator'] = 10

df.loc[705,'rating_numerator'] = 10
df.loc[705,'rating_denominator'] = 10

#### Test

In [76]:
df.iloc[[705,786,816,1156]]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_stage,dog_breed_p,retweet_count,favorite_count
705,740373189193256964,2016-06-08 02:41:38+00:00,Twitter for iPhone,"After so many requests, this is Bretagne. She ...",https://twitter.com/dog_rates/status/740373189...,10,10,None,NaN,golden_retriever,9220,20648
786,722974582966214656,2016-04-21 02:25:47+00:00,Twitter for iPhone,Happy 4/20 from the squad! 13/10 for all,https://twitter.com/dog_rates/status/722974582...,13,10,None,NaN,great_dane,1764,4493
816,716439118184652801,2016-04-03 01:36:11+00:00,Twitter for iPhone,This is Bluebert. He just saw that both #Final...,https://twitter.com/dog_rates/status/716439118...,11,10,Bluebert,NaN,siberian_husky,247,2574
1156,682962037429899265,2016-01-01 16:30:13+00:00,Twitter for iPhone,This is Darrel. He just robbed a 7/11 and is i...,https://twitter.com/dog_rates/status/682962037...,7,11,Darrel,NaN,chihuahua,15043,26239

## Save the merged and Cleaned dataframe to system

In [77]:
df.to_csv('datasets/twitter_archive_master.csv', index=False)

## **Analysing the data**

## **Question to be Answered**

<ol>
  <li>What are the top 5 most favourited dog breeds on average</li>
  <li>Which dog stage has the highest retweet count on average</li>
  <li>What is Relationship between retweets and favourites</li>

</ol>

#### What are the top 5 most favourited dog breeds on average

In [78]:
mean_favorite_by_breed = df.groupby('dog_breed_p').favorite_count.mean().sort_values(ascending=False).head(5).reset_index()

mean_favorite_by_breed.columns=['breed', 'count']

In [79]:
# Formating the breed values to appear nicer in the chart
mean_favorite_by_breed['breed'] = (
                        mean_favorite_by_breed['breed']
                        .str.replace('_', ' ')
                        .str.title()
                      )

In [80]:
fig = px.bar(
    mean_favorite_by_breed, 
    x='breed',
    y='count',
    labels={'breed': 'Dog Breeds', 'count': 'Average Favorite Count'} 
    )

fig.update_layout(
    title='Top 5 most favourited dog breeds on Average',
    title_x=0.5,
    xaxis_tickfont_size=12,
    xaxis_titlefont_size=16,
    yaxis_titlefont_size=16,
    )

fig.show()

It appears the top 5 breeds by Average favorite count are
<ol>

  <b><li> Saluki</li>               
  <li>Bedlington Terrier</li>      
  <li>French Bulldog</li>          
  <li>Bouvier Des Flandres</li>   
  <li>Afghan Hound </li> </b>

</ol>

## Q2: Which dog stage has the highest retweet count on average

In [81]:
mean_retweet_by_dog_stage = df.groupby('dog_stage').retweet_count.mean().sort_values(ascending=False)

mean_retweet_by_dog_stage[:1]

dog_stage
doggo    7059.87037
Name: retweet_count, dtype: float64

It appears on average people retweeted dogs that are in the **'Doggo'** stage than any other dog stage

![DFrEyVuW0AAO3t9.jfif]()

## Q3: What is the relationship between Favourite count and Retweet count

In [82]:
fig = px.scatter(
    data_frame=df,
    x='favorite_count',
    y='retweet_count',
    color='rating_numerator',
    size='retweet_count',
    hover_name='dog_stage',
    labels={
        'retweet_count': 'Retweets',
        'favorite_count': 'Favorites'
    } 
)

fig.update_layout(
    title='Relationship Between Favourite Count and Retweet Count',
    title_x=0.5,
    xaxis_tickfont_size=12,
    xaxis_titlefont_size=16,
    yaxis_titlefont_size=16,
    )

fig.show()

In [83]:
p_correlation = df['favorite_count'].corr(df['retweet_count'])
print(p_correlation)

0.913283914404836

As expected, there is a strong correlation betweet favourite count and retweet. This means the more people favourite a tweet, the more likely to retweet the tweet.

## Conclusion

The datasets were quite robust but had quite a bit of missing values and a quite a bit of errors spread across the datasets which required a bit of wrangling effort.

Despite this missing values and errors, with a bit of wrangling, the dataset was robust enough to get some meaniful insights from it as done above.

## Limitations

Due to the large spread within the dataset, some of the datas may be skewed in favour of features with large spread and high standard deviations within their values

-------------------------------------------------------------

##### Downloading dataset files to local system

In [84]:
!zip -r /content/datasets.zip /content/datasets/

  adding: content/datasets/ (stored 0%)
  adding: content/datasets/twitter-archive-enhanced.csv (deflated 77%)
  adding: content/datasets/wiki_List_of_dog_breeds.html (deflated 84%)
  adding: content/datasets/image_predictions.tsv (deflated 69%)
  adding: content/datasets/tweet-json.txt (deflated 94%)
  adding: content/datasets/twitter_archive_master.csv (deflated 71%)

In [86]:
from google.colab import files
files.download("/content/datasets.zip")